<h2>Find home decor by color</h2>

<form action="/products" method="GET">
  <div class="form-group">
    <input type="search" class="form-control" id="color" name="color" placeholder="enter a color" required>
  </div>
  <input type="submit" class="btn btn-primary"></input>
</form>



<p><a href="/auth/signup">Signup</a></p>
<p><a href="/auth/login">Login</a></p>
<p><a href="/auth/logout">Logout</a></p>
<p><a href="/profile">Profile</a></p>
<p><a href="/boards/index">Boards</a></p>
<p><a href="/boards/show">Boards Show page</a></p>
<p><a href="/products/index">Products page</a></p>
<p><a href="/products/show">Products Show page</a></p>
