<h2>Find home decor by color</h2>

<form action="/" method="POST">
  <div class="form-group">
    <input type="text" class="form-control" id="color" name="color" placeholder="enter a color" required>
  </div>
  <input type="submit" class="btn btn-primary">Go</input>
</form>



<a href="/auth/signup">Signup</a>
<a href="/auth/login">Login</a>
<a href="/auth/logout">Logout</a>
<a href="/profile">Profile</a>
