body {
  font-family: 'Work Sans', sans-serif;
  margin: auto;
  text-align: center;
/*  background: url('/img/black.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;*/
}

/*auto|length|cover|contain|initial|inherit;*/
/*repeat|repeat-x|repeat-y|no-repeat|initial|inherit;*/

.logo {
  font-family: 'Rancho', cursive;
  font-size: 30px;
}

h1 {
  text-align: center;
  margin-bottom: 25px;
}

h4 {
  margin-bottom: 20px;
}

h4 a {
  color: gray;
}

/*.mainbtn {
  margin: 0 auto;
  float: none;
}
*/

/*.homemain {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
*/

.homemain {
  margin-top: 100px;
}

.product-result{
  border-top: 2px solid lightgray;
/*  border-left: none;
  border-right: none;
  border-bottom: none;*/
/*  margin-top: 20px;*/
  /*padding: 10px 0px;*/
  padding: 20px 0;
}

.wrapper-btn-price {
  margin: 15px 0;
}

.add-to-board-btn {
  /*display: block;*/
  padding: 10px;
  display: inline-block;
/*  vertical-align: top;*/
}

.price {
  /*position: relative;*/
  padding: 10px;
  display: inline-block;
  font-weight: bold;
}

h2 a {
  color: gray;
}

.vertbottom {
  vertical-align: bottom;
}
