body {
  font-family: 'Work Sans', sans-serif;
  margin: auto;
  text-align: center;
}


.navbar {
  background-color: #336699;
}

.navbar-default .navbar-nav>li>a {
  color: white;
}

.navbar-brand.logo {
  font-family: 'Rancho', cursive;
  font-size: 30px;
  color: #FFFF00;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black ;
}

h1 {
  text-align: center;
  margin-bottom: 25px;
}

h4 {
  margin-bottom: 20px;
}

h4 a {
  color: gray;
}

.homemain {
  margin-top: 100px;
}

.product-result{
  border-top: 2px solid lightgray;
  padding: 20px 0;
}

.wrapper-btn-price {
  margin: 15px 0;
}

.add-to-board-btn {
  padding: 10px;
  display: inline-block;
}

.price {
  padding: 10px;
  display: inline-block;
  font-weight: bold;
}

h2 a {
  color: gray;
}

.vertbottom {
  vertical-align: bottom;
}

.logintext {
  text-align: left;
}

.no-account-link {
  margin-top: 15px;

}
