<h2>This is your boards page</h2>
<p>It will display a list of boards (orange, yellow, blue, etc) that are generated when you type a color into the search field on the home page. When you type in "blue", a board called "blue" will show up here.</p>

<% colors.forEach(function(color) { %>
  <p><%= color.name %></p>
<% }); %>
