<h1>Boards</h1>

<% colors.forEach(function(color) { %>

<div class="product-result">

<!-- <div class="wrapper-btn-price"> -->

<div class="price">
  <h2 class="boardname"><a href="/boards/<%= color.name %>"><%= color.name %></a></h2>
</div>


<div class="add-to-board-btn">
  <form method="POST" action="boards/<%= color.name %>">
    <input type="submit" value="Delete" name="delete" class="btn btn-danger vertbottom">
  </form>
 </div><!--
 -->
</div>

<% }); %>
