<h2>This is your boards show page</h2>
<p>It will display products that you added to this board (i.e. various products that are orange)</p>
<p>This page will also let you remove products from the board.</p>
